@import "colors";

footer {
    background-color: $first;
    color: $dark;
    height: 200px;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 4fr 1fr;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >h1 {
            font: 700 2rem sans-serif;
            text-transform: uppercase;
            color: $third;
        }

        >p {
            font: 400 1.2rem sans-serif;
        }

        >h5 {
            font: 300 2rem sans-serif;
            margin: 1rem 0;
            text-align: center;
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;

            >a {
                font: 900 1rem sans-serif;

                &:hover {
                    color: $third;
                }
            }
        }
    }
}